<h1>Places</h1>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "Add place", new_place_path, id: "new_place_link", :class=> "btn btn-default", remote: true %>


<h2 id="test_field">Test Field</h2>
